/* styles.css */
body {
    font-family: 'Helvetica Neue', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    background-color: #d17b1a;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 30px;
    max-width: 500px;
    width: 100%;
    text-align: center;
  }
  
  h1 {
    color: #3a126a; /* 橙色文字颜色 */
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  input[type="number"],
  input[type="text"] {
    display: block;
    margin: 10px auto;
    padding: 12px;
    width: 100%;
    border: 1px solid #ef8742; /* 橙色边框 */
    border-radius: 5px;
    font-size: 16px;
  }
  
  button {
    background-color: #2387c1; /* 橙色背景颜色 */
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 12px 20px;
    margin-top: 20px;
    font-size: 18px;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #348eb2; /* 橙色按钮悬停颜色 */
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    text-align: left;
  }
  
  li {
    margin-bottom: 10px;
    font-size: 16px;
    color: #ff6600; /* 橙色文本颜色 */
  }
  